body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.effect-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 15%;
	margin-left: 20%;
}

.canvas-box {
	width: 50%;
}

canvas {
	border: 1px solid #000;
}
